.uniForm {
    /* background-color: red; */
    /* font-weight: bold; */
}


#signup-button {
    background-color: orange;
    width: 7rem;
    height: 3rem;
    border-radius: 10rem;
    margin-top: 3rem;
}

.btn {
    margin-left: 0.8rem;
    margin-top: 0.2rem;
}